*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0; }

.app {
  min-height: 600px; }

.main, .basket {
  float: left;
  min-height: 100%; }

.clearfix {
  display: inline-block; }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.search {
  text-align: right; }

.productlist {
  margin-top: 2rem; }

.productlist__item {
  text-align: center;
  width: 180px;
  float: left; }

.productlist__item__info, .productlist__item__basketpricing {
  outline: solid 1px #cccccc;
  padding: 0 0.5rem; }

.productlist__item__info,
.productlist__item__basketpricing {
  padding: 1rem; }

.productlist__item__info {
  padding: 1rem;
  height: 270px;
  font-size: 0.75rem; }

.productlist__item__info__name {
  font-weight: normal;
  height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis; }

.productlist__item__info__promos__item__detail--reward {
  color: #aa0000; }

.productlist__item__basketpricing {
  height: 160px;
  font-size: 0.75rem; }

.productlist__item__basketpricing__price {
  padding: 0.5rem; }

.productlist__item__basketpricing__price__item {
  float: left;
  font-weight: bold;
  font-size: 1rem; }

.productlist__item__basketpricing__price__unit {
  float: right; }

.productlist__item__basketpricing__controls {
  max-width: 100%;
  text-align: center;
  border-collapse: collapse; }

.productlist__item__basketpricing__controls__qty {
  width: 2rem;
  text-align: center; }

.productlist__item__basketpricing__controls__btnadd {
  background: #00539f;
  color: #fff;
  padding: 0.25rem;
  cursor: pointer;
  text-decoration: none; }

/**
 * Colours
 */
.productlist__item__basketpricing__controls__decrement,
.productlist__item__basketpricing__controls__increment {
  color: #00539f;
  cursor: pointer; }

.basket {
  padding: 1rem 1rem 1rem 2.5%; }

.basket__header {
  background: #00539f;
  color: #fff;
  margin: 0;
  padding: 0.5rem; }

.basket__contents {
  border: solid 1px #ccc;
  padding-bottom: 4rem; }

.basket__contents__item {
  padding: 0.5rem;
  border-bottom: solid 1px #ccc; }

.basket__contents__item__img,
.basket__contents__item__name,
.basket__contents__item__removebtn {
  display: inline-block;
  text-align: left;
  vertical-align: middle; }

.basket__contents__item__img {
  width: 30%; }

.basket__contents__item__name {
  width: 50%;
  padding-left: 5%;
  max-height: 4.5rem;
  overflow: hidden;
  text-overflow: ellipsis; }

.basket__contents__item__removebtn {
  text-align: right;
  vertical-align: top; }

.basket__contents__item__controls {
  width: 50%; }

.basket__contents__item__subtotal {
  text-align: right;
  font-weight: bold; }

@media screen and (min-width: 721px) {
  .basket {
    width: 35%; }

  .main {
    width: 65%; } }

/*# sourceMappingURL=main.css.map */
